.container {

	width: 700px;
	height: 150px;
	border: 1px solid black;

}

.container2 {

	width: 700px;
	height: 150px;
	border: 1px solid black;

}

.card {
	
	width: 80px;
	height: 130px;
	border: 5px solid black;
	margin: 5px;
	float: left;
	background-color: green;
	
}

.current_card {
	margin-left: auto;
	margin-right: auto;
	float: none;
	position: relative;
}

.own_tower {

	width: 60px;
	height: 130px;
	border: 5px solid black;
	margin: 5px;
	float: left;
	background-color: darkblue;

}

.enemy_tower {

	width: 60px;
	height: 130px;
	border: 5px solid black;
	margin: 5px;
	float: right;
	background-color: darkblue;
}

p {
	
	color: white;
	text-align: center;
}

.gray {
	background-color: gray;
}

.green {
	background-color: green;
}

.own_res {
	width: 20px;
	height: 40px;
	border: 2px solid black;
	margin: 2px;
	float: left;
	background-color: olivedrab;
}

.enemy_res {
	width: 20px;
	height: 40px;
	border: 2px solid black;
	margin: 2px;
	float: right;
	background-color: olivedrab;
}